{% extends 'base.html.twig' %}
{% block title %}Check Email
{% endblock %}
{% block body %}
	<h1 class="h3 mb-3 font-weight-normal">Veuillez changer votre mot de passe</h1>
	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}

{% endblock %}
