{% extends 'base.html.twig' %}
{% block body %}
	<div class="container">
		{% include '@Calendar/calendar.html' %}
	</div>
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/co
						re@4.1.0/main.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/da
						ygrid@4.1.0/
						main.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/ti
						megrid@4.1.0/
						main.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/bo
			otstrap@4.2.0/
			main.min.css">
{% endblock %}
{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.mi
						n.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/
						main.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main
						.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/mai
						n.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap@4.2.0/ma
						in.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/momen
						t.min.js"></script>
	<script>
		document.addEventListener('DOMContentLoaded', () => {
var calendarEl = document.getElementById('calendar-holder');
var calendar = new FullCalendar.Calendar(calendarEl, {
defaultView: 'dayGridMonth',
editable: true,
eventSources: [
{
url: "{{ path('fc_load_events') }}",
method: "POST",
extraParams: {
filters: JSON.stringify({})
},
success: () => {
console.log(event);
},
failure: () => { // alert("There was an error while fetching FullCalendar!"
console.log("error");
}
},
],
header: {
left: 'prev,next today',
center: 'title',
right: 'dayGridMonth,timeGridWeek,timeGridDay'
},
plugins: [
'interaction', 'dayGrid', 'timeGrid'
], // https://fullcalendar.io / docs / plugin - index
timeZone: 'UTC'
});
calendar.render();
});
	</script>
{% endblock %}
